<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="fotoperfil" src="../../../assets/IMG_20210914_222708_570.jpg" class="img-fluid">   
    </div>
    <div id="Info" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p><b>Paredes Samuel Octavio</b></p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercademi">Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, numquam! Incidunt corrupti, inventore eius nisi optio nemo eos a illo odit distinctio aperiam sint! Sed suscipit necessitatibus labore adipisci quisquam?</p>
        </span>
    </div>
</div>
