.row{
    padding: 50px;
}

div{
    background-color: #a1b5cb;
}

#acercademi{
    text-align: center;
}

@media (min-width: 576px){
    #fotoperfil{
        position:absolute;
        width:10%;
        border-radius:100%;
        box-shadow: 3px 3px 5px grey;
        left:3%;
        top: 500px;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius:100%;
        box-shadow: 3px 3px 5px grey;
        left:7%;
        top:500px;
    }

    #Info{
        text-align: center;
    }
}

@media (min-width: 1193px){
    #fotoperfil{
        position:absolute;
        width: 8%;
        border-radius:100%;
        box-shadow: 3px 3px 5px grey;
        left:7%;
        top:500px;
    }
}
@media (max-width: 386px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius:100%;
        box-shadow: 3px 3px 5px grey;
        left:40%;
        top:690px;
    }

    #Info{
        text-align: center;
    }
}
