<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="P1 col-sm-12 col-md-7 col-lg-7">
            <h2>Parser</h2>
            <p>Un analizador sintáctico o parser es un programa que normalmente es 
                parte de un compilador. El compilador se asegura de que el código se traduce 
                correctamente a un lenguaje ejecutable. La tarea del analizador es, en este 
                caso, la descomposición y transformación de las entradas en un formato 
                utilizable para su posterior procesamiento. Se analiza una cadena de 
                etiquetas y luego se descompone en sus 
                componentes individuales.
                </p>
        </div>
        <div class="P2 col-sm-12 col-md-3 col-lg-3 offset-lg-1 offset-md-1">
            <img src="../../../assets/ImgProyectos/imgParser.jpg" class="img-fluid img-parser">
        </div>
    </div>
</div>
