.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoar{
    width: 150px;
}
img{
    width: 50px;
}
.redes{
    margin-right: 10px;
}
.btn{
    border-width: medium;
}

/* vista celular */



@media (max-width: 386px){
    .container{
        flex-direction: column;
    }
      
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img{
        margin: 0.5em;
    }
    #fotoperfil{
        position:absolute;
        width: 8%;
        border-radius:100%;
        box-shadow: 3px 3px 5px grey;
        left:7%;
        top:500px;
    }
}
