<div class="row">
    <h1 id="titulo">Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-8 col-lg-8 parte1" >
            <h2>
                <a href="#" target="_blank">Analizador Léxico Sintáctico </a>
            </h2>
            <p>
                Proyecto diseñado en python que nos ayuda a reconocer los toxens y estructura del lenguaje de marcado RSS para 
                la Cátedra de Sintaxis y Semantica de los Lenguajes dicatado en la carrera de Ingenieria en Sistemas de Información.
            </p>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4  parte2" id="ltc">
            <a href="#" target="_blank"><img src="../../../assets/proyectos/imgParser.jpg" class="img-fluid img-proyecto"></a>
       </div>
  </div>
</div>