.row{
    padding: 20px;
}



div{
    background-color: #0F2027;
    text-align: center;
}

#bio{
    background: #536976;
    background-blend-mode: lighten;
    border: 1.5px outset #000;
    color: white;
}

#about{
    background-color: #0F2027;
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1.5px outset #000;
    font-size: 18px;
    color:#e3eeff
}

@media (min-width: 576px){
    #fotoperfil{
        border-radius: 20%;
        border: 1.5px outset #000;
        position:absolute;
        width: 15%;
        left: 10%;
        top:440px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 38%;
        }

    #descripcion{
        margin-left: 10px;
    }
}
@media (min-width: 1318px){
    #fotoperfil{
        border-radius: 20%;
        border: 1.5px outset #000;
        position:absolute;
        width: 15%;
        left: 10%;
        top:400px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 38%;
        }

    #descripcion{
        margin-left: 10px;
    }
}

@media (max-width: 575px){

    #nombre{
        font-weight: bold;
        margin-top: 25%;
        margin-left: 10px;
    }

}

